<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактировать список пользователей</title>
</head>
<body>
<form th:method="patch" th:action="@{/{id}((id=${user.getId()})}" th:object="${user}">
  <label for="id">ID</label>
  <input readonly type="number" th:field="*{id}" id="id" placeholder="id">
  <br/>
  <label for="name">Имя</label>
  <input type="text" th:field="*{name}" id="name"/>
  <div style="color:#d7b714" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
  <br/>
  <label for="last_name">Фамилия</label>
  <input type="text" th:field="*{lastName}" id="last_Name">
  <div style="color:#d7b714" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName Error</div>
  <br/>
  <input type="submit" value="Обновить пользователя"/>
</form>
</body>
</html>